$golden-ratio: 1.6180339887;

$border-radius-small: 3px;
$border-radius-default: 5px;
$border-radius-large: 7px;
$border-radius-larger: 9px;
$border-radius-largest: 12px;

$max-width: 1200px;

$sm: 1.5rem;
$smallest: 2.5rem;
$smaller: 5rem;
$small: 8rem;
$default: 10rem;
$large: 15rem;
$larger: 20rem;
$largest: 27rem;

$font-size-small: 1.4rem;
$font-size-default: 1.6rem;
$font-size-large-1: 1.8rem;
$font-size-large-2: 2.3rem;
$font-size-large-3: 3rem;
$font-size-large-4: 4rem;
$font-size-large-5: 5rem;

$margin-auto-smallest: 2.5rem auto;
$margin-auto-smaller: 5rem auto;
$margin-auto-small: 8rem auto;
$margin-auto-default: 10rem auto;
$margin-auto-large: 15rem auto;
$margin-auto-larger: 20rem auto;
$margin-auto-largest: 27rem auto;

$padding-0-smallest: 2.5rem 0;
$padding-0-smaller: 5rem 0;
$padding-0-small: 8rem 0;
$padding-0-default: 10rem 0;
$padding-0-large: 15rem 0;
$padding-0-larger: 20rem 0;
$padding-0-largest: 27rem 0;


$bP-smallest: 62.5em; //1000
$bP-smaller: 43.75em; //700
$bP-small: 50em; //800
$bP-big: 62.5em; //1000
$bP-biger: 68.75em; //1100
$bP-bigest: 75em; //1200

$headerHeight: 7rem;

