.site {
  $animationTime: 1.2s;
  height: 70rem;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid rgba($color-2-hex, 0.2);
  position: relative;
  top: 0;

  clear: both;

  &__title {
    position: absolute;
    bottom: 0;
    color: $color-secondary;
    font-size: 3rem;
    font-weight: 600;
    width: 100%;
    background: $color-shadow-8;
    padding: 0 1rem;
    transition: all 0.3s;

    &--hidden {
      opacity: 0;
    }
  }

  &__img {
    width: 100%;
  }

  &__close-mark {
    $dimenstions: 5rem;
    $space: 1rem;

    color: $color-shadow-light-6;
    background-color: $color-shadow-6;
    border-radius: 50%;

    position: fixed;
    top: 0;
    right: calc(50% - ($dimenstions / 2) - 2rem);
    width: $dimenstions;
    height: $dimenstions;

    padding: $space;

    margin: $space;
    z-index: 5;

    transition: all 0.5s;

    &--hidden {
      right: calc(50% - ($dimenstions / 2) - 1rem);
      scale: 0;
    }
  }

  &__frame {
    height: calc(100% + 2rem);
    width: calc(100% + 2rem);
    transform: translateX(-2rem);
  }
}
